/C/Be.ManagedDataAccess.EntityFramwork.Extensions.Test/App.config
bin
/C/Be.ManagedDataAccess.EntityFramwork.Extensions/obj
.vs
/C/Be.ManagedDataAccess.EntityFramwork.Extensions.Test/bin
obj
App.config
/packages
*.nupkg
*.user
/Be.EntityFramworkCore.SqlServer.Extensions.Test/settings.json
/Be.EntityFramework.SqlServer.Extensions.Test/App.config
